<div fxLayout="row wrap" class="mainBg" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFill>
  <div fxLayout="column wrap" class="overlay" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFill>
    <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false" fxFlex.xs="100" fxFlex.md="90">
      <mat-tab-group mat-align-tabs="center" class="tabs fullWidth">
        <mat-tab label="Login">
          <form [formGroup]="loginForm" class="fullWidth">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="none center" [fxShow]="true" [fxHide]="false">
                <div>
                  <h3> Login Form </h3>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="email" placeholder="Your Email" [required]="false" formControlName="email">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="password" placeholder="Your Password" [required]="false" formControlName="password">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primary bookBtn fullWidth" color="primary" (click)="loginUser()" type="submit">Login</button></div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form [formGroup]="registerForm" class="fullWidth">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="none center" [fxShow]="true" [fxHide]="false">
                <div>
                  <h3> Registration Form </h3>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="text" placeholder="Your Name" [required]="false" formControlName="name">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="email" placeholder="Your Email" [required]="false" formControlName="email">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="number" placeholder="Your Phone" [required]="false" formControlName="phone">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
                <mat-form-field class="fullWidth" [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                  <input matInput type="password" placeholder="Your Password" [required]="false" formControlName="password">

                </mat-form-field>
              </div>
              <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false"><button mat-raised-button class="primary bookBtn fullWidth" color="primary" (click)="addUser()">Register</button></div>
            </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>